<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps UniBH</title>
</head>
<body>
    <h1>Página ajuda...</h1>
    <footer>
        Este site está disponível sob a <a href="http://opendatacommons.org/licenses/odbl/  1.0/" target="_blank">Licença Open Database</a>. Quaisquer direitos sobre os  conteúdos individuais da base de dados estão licenciados sob a <a href="http://  opendatacommons.org/licenses/dbcl/1.0/" target="_blank">Licença de Conteúdo da    Base de Dados</a>.
    </footer>
</body>
</html>