<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styleFront.css">
  <title>Maps UniBH</title>
</head>
<body>
  <div class="form-container">
    <h2>Bem-vindo ao Mapa UniBH</h2>
    
    <form action="login">
      <label for="username">Usuário</label>
      <div class="input-group">
        <input type="text" id="username" name="username" placeholder="Insira seu usuário" required>
      </div>

      <label for="password">Senha</label>
      <div class="input-group">
        <input type="password" id="password" name="password" placeholder="Insira sua senha" required>
      </div>

      <a href="maps.html" class="button login-btn" id="inMap">Entrar no Mapa</a>

      <a href="ajuda.html" class="button access-help">❓ Ajuda</a>
    </form>
  </div>
  <div class="img">
    <img src="/mapa/imagens/Captura de tela 2025-05-08 134749.png" alt="Ulife">
  </div>
</body>
</html>