* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #002958, #0151ac);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 170px;
  padding: 0 0 0 15px;
  margin-bottom: 1px
}



h1 {
  color: #002D62;
  font-size: 22px;
  margin-bottom: 16px;
}

p {
  color: #333;
  margin-bottom: 10px;
}

/* Estilo base para ambos */
.botoes button,
.botao-ajuda {
  margin-top: 0;
  background-color: #00B3B3;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}


/* Hover igual */
.botoes button:hover,
.botao-ajuda:hover {
  background-color: #009999;
}

/* Container dos botões */
.botoes {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .botoes {
    flex-direction: column;
  }

  .botoes button,
  .botao-ajuda {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 30px 20px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .botoes {
    flex-direction: column;
  }

  .botao-ajuda,
  .botoes button {
    width: 100%;
  }
}


@media (max-width: 480px) {
  .logo {
    width: 140px;
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

}
